.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome{
  color: blue;
  margin-top: 5px;
}

.btn-container{
  margin: -10px auto 0 auto;
  text-align: center;
  Button{
    margin: 0 8px;
    width: 100px;
  }
}

.link-container{
  display: flex;
  p{
    color: grey;
    margin: 0 5px;
  }
}