.row.title{
  font-weight: bold;
}

.pollOver_titleElement{
  padding: 5px 0;
}

.pollOver_sortToggle{
  cursor: pointer;
  margin: 0;
  text-decoration: underline;
}

.pollOver_heighlight{
  span::after{
    font-family: "FontAwesome";
    content: " \f0d7";
  }
}